<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenshinHub</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark darkcustom sticky-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">GenshinHub</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <div class="container d-flex justify-content-center">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="index.html">Team Power</a>
                    <a class="nav-link" href="#">Gatcha Sim</a>
                    <a class="nav-link disabled"  tabindex="-1" aria-disabled="true" href="#">Disabled</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </div>
             </div>
            <!-- <form class="d-flex">
              <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
 </nav>
 <div class="main-left">
     <div class="container-fluid wf">
         <p class="text-muted">Esse site só existe pelo roleplay, qualquer pessoa com 3qi consegue montar um time que funciona no genshin, mas ta ai, use a vontade</p>
     </div>
 </div>

 <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 yc">Left</div>
    <div class="col-md-8 panel-right">
      <section class="intro-main">
        <p class="text-muted fs-4 text-center">Team Power calc.</p>
      </section>
        <div class="container ">
          <div class="row g-2 d-flex justify-content-center">
            <div class="col-2 bg-l4 dps">
              <div class="title"><p class="text-muted text-center">Main DPS</p></div>
              <select class="form-select s_maindps" aria-label="Default select example">
                <option selected>Select the character</option>
                <option value="Albedo">Albedo</option>
                <option value="Amber">Amber</option>
                <option value="Barbara">Barbara</option>
                <option value="Beidou">Beidou</option>
                <option value="Bennet">Bennet</option>
                <option value="Chongyun">Chongyun</option>
                <option value="Diluc">Diluc</option>
                <option value="Diona">Diona</option>
                <option value="Eula">Diona</option>
                <option value="Fischl">Fischl</option>
                <option value="Ganyu">Ganyu</option>
                <option value="Jean">Jean</option>
                <option value="Kaeya">Kaeya</option>
                <option value="Keqing">Keqing</option>
                <option value="Klee">Klee</option>
                <option value="Lisa">Lisa</option>
                <option value="Mona">Mona</option>
                <option value="Ningguang">Ningguang</option>
                <option value="Noelle">Noelle</option>
                <option value="Qiqi">Qiqi</option>
                <option value="Razor">Razor</option>
                <option value="Rosaria">Razor</option>
                <option value="Sucrose">Sucrose</option>
                <option value="Tartaglia">Tartaglia (Childe)</option>
                <option value="Atraveler">Traveler(Anemo)</option>
                <option value="Gtraveler">Traveler(Geo)</option>
                <option value="Venti">Venti</option>
                <option value="Xiangling">Xiangling </option>
                <option value="Xiao">Xiao </option>
                <option value="Xingqiu">Xingqiu </option>
                <option value="Xinyan">Xinyan</option>
                <option value="Yanfei">Xinyan</option>
                <option value="Zhongli">Zhong-li </option>
              </select>
              <div class="img-select is1">
                <img src="https://i.pinimg.com/originals/ab/b8/d1/abb8d166d497a191faeb8d31a02b8098.png" class="rounded mx-auto d-block img-fluid" alt="defaultSelect" id="dps">
              </div>
            </div>
            <div class="col-2 bg-l4 sdps">
              <div class="title"><p class="text-muted text-center">DPS Support</p></div>
              <select class="form-select s_supdps" aria-label="Default select example">
                <option selected>Select the character</option>
                <option value="Albedo">Albedo</option>
                <option value="Amber">Amber</option>
                <option value="Barbara">Barbara</option>
                <option value="Beidou">Beidou</option>
                <option value="Bennet">Bennet</option>
                <option value="Chongyun">Chongyun</option>
                <option value="Diluc">Diluc</option>
                <option value="Diona">Diona</option>
                <option value="Eula">Diona</option>
                <option value="Fischl">Fischl</option>
                <option value="Ganyu">Ganyu</option>
                <option value="Jean">Jean</option>
                <option value="Kaeya">Kaeya</option>
                <option value="Keqing">Keqing</option>
                <option value="Klee">Klee</option>
                <option value="Lisa">Lisa</option>
                <option value="Mona">Mona</option>
                <option value="Ningguang">Ningguang</option>
                <option value="Noelle">Noelle</option>
                <option value="Qiqi">Qiqi</option>
                <option value="Razor">Razor</option>
                <option value="Rosaria">Razor</option>
                <option value="Sucrose">Sucrose</option>
                <option value="Tartaglia">Tartaglia (Childe)</option>
                <option value="Atraveler">Traveler(Anemo)</option>
                <option value="Gtraveler">Traveler(Geo)</option>
                <option value="Venti">Venti</option>
                <option value="Xiangling">Xiangling </option>
                <option value="Xiao">Xiao </option>
                <option value="Xingqiu">Xingqiu </option>
                <option value="Xinyan">Xinyan</option>
                <option value="Yanfei">Xinyan</option>
                <option value="Zhongli">Zhong-li </option>
                
              </select>
              <div class="img-select is2">
                <img src="https://i.pinimg.com/originals/ab/b8/d1/abb8d166d497a191faeb8d31a02b8098.png" class="rounded mx-auto d-block img-fluid" alt="defaultSelect" id="dps">
              </div>
            </div>
            <div class="col-2 bg-l4 sup1">
              <div class="title"><p class="text-muted text-center">Support 1</p></div>
              <select class="form-select s_sup1" aria-label="Default select example">
                <option selected>Select the character</option>
                <option value="Albedo">Albedo</option>
                <option value="Amber">Amber</option>
                <option value="Barbara">Barbara</option>
                <option value="Beidou">Beidou</option>
                <option value="Bennet">Bennet</option>
                <option value="Chongyun">Chongyun</option>
                <option value="Diluc">Diluc</option>
                <option value="Diona">Diona</option>
                <option value="Eula">Diona</option>
                <option value="Fischl">Fischl</option>
                <option value="Ganyu">Ganyu</option>
                <option value="Jean">Jean</option>
                <option value="Kaeya">Kaeya</option>
                <option value="Keqing">Keqing</option>
                <option value="Klee">Klee</option>
                <option value="Lisa">Lisa</option>
                <option value="Mona">Mona</option>
                <option value="Ningguang">Ningguang</option>
                <option value="Noelle">Noelle</option>
                <option value="Qiqi">Qiqi</option>
                <option value="Razor">Razor</option>
                <option value="Rosaria">Razor</option>
                <option value="Sucrose">Sucrose</option>
                <option value="Tartaglia">Tartaglia (Childe)</option>
                <option value="Atraveler">Traveler(Anemo)</option>
                <option value="Gtraveler">Traveler(Geo)</option>
                <option value="Venti">Venti</option>
                <option value="Xiangling">Xiangling </option>
                <option value="Xiao">Xiao </option>
                <option value="Xingqiu">Xingqiu </option>
                <option value="Xinyan">Xinyan</option>
                <option value="Yanfei">Xinyan</option>
                <option value="Zhongli">Zhong-li </option>
              </select>
              <div class="img-select is3">
                <img src="https://i.pinimg.com/originals/ab/b8/d1/abb8d166d497a191faeb8d31a02b8098.png" class="rounded mx-auto d-block img-fluid" alt="defaultSelect" id="dps">
              </div>
            </div>
            <div class="col-2 bg-l4 sup2">
              <div class="title"><p class="text-muted text-center">Support 2</p></div>
              <select class="form-select s_sup2" aria-label="Default select example">
                <option selected>Select the character</option>
                <option value="Albedo">Albedo</option>
                <option value="Amber">Amber</option>
                <option value="Barbara">Barbara</option>
                <option value="Beidou">Beidou</option>
                <option value="Bennet">Bennet</option>
                <option value="Chongyun">Chongyun</option>
                <option value="Diluc">Diluc</option>
                <option value="Diona">Diona</option>
                <option value="Eula">Diona</option>
                <option value="Fischl">Fischl</option>
                <option value="Ganyu">Ganyu</option>
                <option value="Jean">Jean</option>
                <option value="Kaeya">Kaeya</option>
                <option value="Keqing">Keqing</option>
                <option value="Klee">Klee</option>
                <option value="Lisa">Lisa</option>
                <option value="Mona">Mona</option>
                <option value="Ningguang">Ningguang</option>
                <option value="Noelle">Noelle</option>
                <option value="Qiqi">Qiqi</option>
                <option value="Razor">Razor</option>
                <option value="Rosaria">Razor</option>
                <option value="Sucrose">Sucrose</option>
                <option value="Tartaglia">Tartaglia (Childe)</option>
                <option value="Atraveler">Traveler(Anemo)</option>
                <option value="Gtraveler">Traveler(Geo)</option>
                <option value="Venti">Venti</option>
                <option value="Xiangling">Xiangling </option>
                <option value="Xiao">Xiao </option>
                <option value="Xingqiu">Xingqiu </option>
                <option value="Xinyan">Xinyan</option>
                <option value="Yanfei">Xinyan</option>
                <option value="Zhongli">Zhong-li </option>
              </select>
              <div class="img-select is4">
                <img src="https://i.pinimg.com/originals/ab/b8/d1/abb8d166d497a191faeb8d31a02b8098.png" class="rounded mx-auto d-block img-fluid" alt="defaultSelect" id="dps">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="result">
          <div class="container">
            <p class="result-table">.</p>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn res-btn">Generate results</button>
            </div>
            <br>
            <p class="tp"> Poder do time: </p>
            <div class="total-result">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="result-msg">
              <p>Monte seu time para ter o resultado</p>
            </div>
          </div>
        </div>
    </div>
  </div>
 </div>
    
<!-- Scripts -->
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/script/app.js"></script>
</body>
</html>
